.upload-card {
    margin-top: 30px;
    border: 2px solid #000000;
    width: 100%;
    border-radius: 10px;
}

.upload-card h2 {
    color: #66B1F1;
    margin-left: 20px;
    margin-top: 25px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.card labelR {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.card table {
    width: 100%;
    border-collapse: separate;
  }
  
  .card th,
  .card td {
    padding: 10px;
    text-align: center;
    border: 2px solid #000000;
  }

  .td-1 {
    /* Style for rank column */
    font-weight: bold;
    color: #000000;
    background-color: #FFD700;
    font-style: italic;/* Orange color */
    /* background-color: #000000e9; */
}

.td-2 {
    /* Style for rank column */
    font-weight: bold;
    color: #000000;
    background-color: #C0C0C0;
    font-style: italic; /* Orange color */
    /* background-color: #000000d9; */
}

.td-3 {
    /* Style for rank column */
    font-weight: bold;
    color: #000000;
    background-color: #CD7F32;
    font-style: italic; /* Orange color */
    /* background-color: #000000d9; */
}
  
  .card th:first-child,
  .card td:first-child {
    width: auto; /* Adjust as needed for image column width */
  }