.study-partner-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    border: 2px solid #000000;
}

.study-partner-card h2 {
    color: #66B1F1;
}

.study-partner-card labelS {
    font-weight: bold;
}

.study-partner-card h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000000;
}

.study-partner-card .add-subject-button {
    background-color: #66B1F1;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 16px;
}

.study-partner-card .find-partner-button,
.study-partner-card .show-partner-button {
    background-color: #66B1F1;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 15px;
}

.show-partner-button a,
.add-subject-button a {
      text-decoration: none; 
      color: inherit; 
    }

.study-partner-card .add-subject-button:hover {
    background-color: #2048cd; /*biru*/
}

.study-partner-card .find-partner-button:hover {
    background-color: #4fc94d; /*hijau*/
}

.study-partner-card .show-partner-button:hover {
    background-color: #2048cd; /*biru*/
}

.study-partner-card .subject-form label,
.study-partner-card .partner-table-container table {
    margin-top: 15px;
}

.study-partner-card .subject-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    border: 2px solid #66B1F1;
    font-size: 16px;
}

.study-partner-card .partner-table-container table {
    width: 100%;
    border-collapse: collapse;
}

.study-partner-card .partner-table-container th,
.study-partner-card .partner-table-container td {
    padding: 10px;
    text-align: center;
    border: 2px solid #07090b;
}

.study-partner-card .partner-table-container th {
    background-color: #f2f2f2;
}

.study-partner-card .partner-table-container td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.study-partner-card .partner-table-container td .action-button {
    background-color: #66B1F1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.study-partner-card .partner-table-container td .action-button:hover {
    background-color: #4fc94d; /*hijau*/
}
